    <platform name="android">
        <icon src="res/android/icon/ldpi.png" density="ldpi" />
        <icon src="res/android/icon/mdpi.png" density="mdpi" />
        <icon src="res/android/icon/hdpi.png" density="hdpi" />
        <icon src="res/android/icon/xhdpi.png" density="xhdpi" />
        <icon src="res/android/icon/xxhdpi.png" density="xxhdpi" />
        <icon src="res/android/icon/xxxhdpi.png" density="xxxhdpi" />
    </platform>
