@media (orientation: portrait) {
    #portrait{
        display: block;
          }
}

@font-face {
  font-family:'Diogenes';
  src: url('./fonts/DIOGENES.ttf');
  font-weight: 100;
}

* {
  font-family: Diogenes, Open Sans, sans-serif;
}


#fondo {
  position: fixed;
  background: url("img/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  width:100%;
  height:100%;
  top: 0rem;
  left: 0rem;
  z-index: -2;
}

#dioses {
  text-align: center;
}

#dios_uno, #dios_dos, #dios_tres, #dios_cuatro {
  font-size: 3em;
  text-align: center;
  color: #f60a05;
  text-shadow: -0.1em 0.1em 0.04em #000;
}

.barra {
  position: fixed;
  bottom: 0%;
  left: 0%;
  width: 100%;
  background: url('./icons/header-bg-long.jpg') #282323;
  padding-top: 3%;
  box-shadow: 0 1px 2px #333;
  z-index: 16;
}

#boton {
    position: relative;
    margin-top: -2%;
    z-index: 20;
    margin-bottom: 2%;
    margin-left: 2%;
}

.sorteo{
  font-size: 1em;
}

.img_dioses_uno, .img_dioses_dos, .img_dioses_tres, .img_dioses_cuatro {
  position: fixed;
  width: 100%;
  z-index: 2;
  left: 0%;
}

.img_dioses_uno {
  padding-top: 20%;
}

.img_dioses_dos {
  padding-top: 50%;
}

.img_dioses_tres {
  padding-top: 80%;
}

.img_dioses_cuatro {
  padding-top: 110%;
}

@keyframes uno {	
    0%  {padding-left: 110%;}
	100%    {padding-left: 0%;}
}

@keyframes dos {	
    0%  {left: -110%;}
	100%    {left: 0%;}
}
